h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

body{
    background-color: lightsteelblue;
    color: black;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: black;
    text-align: center;
    font-size: 15px;
}